<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web scrapper</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav>
      <h3>To make this website ,I have used axios module for fetching the amazon
        html page and cheerio module for scrapping the data</h3>
    </nav>
    <div class="big">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/81t6Av5DvXL._SX679_.jpg"
          alt="Error"
        />
      </div>
      <div class="text">
        <h1>ProductName: {{productName}}</h1>
        <h1>Price: {{price}}</h1>
      </div>
    </div>
  </body>
</html>