<div>
  <div class="big">
    <h2>Inputs for scrapping data</h2>
    <form action="/details" method="post" id="form">
      <div class="div">
        <label for="links">Link:</label>
        <input type="link" id="links" name="link" />
      </div>
      <div class="div">
        <label for="daTa">Number of data(Between 1 to 70):</label>
        <input type="number" id="daTa" name="data" min="1" max="70" /></div>

      <input type="submit" id="submit" /></form>
  </div>
</div>