<div>
  <h1 class="heading">Which site you want to scrap</h1>
  <div class="options">
    <button
      class="btn one"
      type="button"
      onclick="select('Flipkart')"
    >Flipkart</button>
    <button
      class="btn two"
      type="button"
      onclick="select('Amazon')"
    >Amazon</button>
  </div>
</div>