body {
  margin: 0em;
}
h1 {
  color: black;
}
h3 {
  color: white;
}
nav {
  text-align: center;
  background-color: rgb(8, 8, 8);
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.big {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
